{% if product.available %}
  {% assign first_variant = product.first_available_variant %}
  <tr row="{{row_id}}" style="display:none;">

    <td class="order-form__tablecell--mobile">
      <div class="order-form__tablecell-toprow-container--mobile">
        <div class="order-form__tablecell-toprow--mobile">
          {% include 'order-form-image' %}
        </div>
        <div class="order-form__tablecell-toprow--mobile">
          <div>
            {% include 'order-form-title' %}
          </div>
          <div>
            {% include 'order-form-price', mobile: 'm' %}
          </div>
        </div>
      </div>
      <div>
        {% include 'order-form-options' %}
      </div>
      <div>
        {% include 'order-form-variant' %}
      </div>
      <div>
        {% include 'order-form-quantity' mobile: 'm' %}
      </div>
    </td>

    <td class="order-form__tablecell--not-mobile">
      {% include 'order-form-image' %}
    </td>
    <td class="order-form__tablecell--title order-form__tablecell--not-mobile">
      {% include 'order-form-title' %}
    </td>
    <td class="line-properties order-form__tablecell--not-mobile">
      {% include 'order-form-options' %}
    </td>
    <td class="order-form__tablecell--center order-form__tablecell--not-mobile">
      {% include 'order-form-variant' %}
    </td>
    <td class="order-form__tablecell--center order-form__tablecell--not-mobile">
      {% include 'order-form-price', mobile: '' %}
    </td>
    <td class="order-form__tablecell--center order-form__tablecell--quantity order-form__tablecell--not-mobile">
      {% include 'order-form-quantity', mobile: '' %}
    </td>

  </tr>
{% endif %}