      <a href="{{ first_variant.url | collection }}" >
        <img src="{{ first_variant.image | default: product.featured_image | img_url: 'small' }}" alt="{{ first_variant.title | escape }}" />
      </a>